*.json filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
HaGRID/ filter=lfs diff=lfs merge=lfs -text
HaGRID/** filter=lfs diff=lfs merge=lfs -text
HaGRID/test/call.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/peace.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/three3.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/no_gesture.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/peace_inverted.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/timeout.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/ok.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/take_picture.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/three.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/rock.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/palm.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/xsign.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/like.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/grip.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/mute.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/hand_heart.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/thumb_index2.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/two_up_inverted.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/three_gun.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/hand_heart2.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/thumb_index.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/three2.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/little_finger.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/holy.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/point.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/dislike.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/middle_finger.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/one.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/two_up.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/four.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/grabbing.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/stop_inverted.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/fist.json filter=lfs diff=lfs merge=lfs -text
HaGRID/test/stop.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/call.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/peace.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/three3.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/no_gesture.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/peace_inverted.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/timeout.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/ok.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/take_picture.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/three.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/rock.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/palm.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/xsign.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/like.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/grip.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/mute.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/hand_heart.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/thumb_index2.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/two_up_inverted.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/three_gun.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/hand_heart2.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/thumb_index.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/three2.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/little_finger.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/holy.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/point.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/dislike.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/middle_finger.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/one.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/two_up.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/four.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/grabbing.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/stop_inverted.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/fist.json filter=lfs diff=lfs merge=lfs -text
HaGRID/train/stop.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/** filter=lfs diff=lfs merge=lfs -text
HaGRID/val/** filter=lfs diff=lfs merge=lfs -text
HaGRID/val/** filter=lfs diff=lfs merge=lfs -text
HaGRID/val/call.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/peace.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/three3.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/no_gesture.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/peace_inverted.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/timeout.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/ok.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/take_picture.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/three.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/rock.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/palm.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/xsign.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/like.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/grip.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/mute.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/hand_heart.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/thumb_index2.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/two_up_inverted.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/three_gun.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/hand_heart2.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/thumb_index.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/three2.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/little_finger.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/holy.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/point.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/dislike.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/middle_finger.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/one.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/two_up.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/four.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/grabbing.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/stop_inverted.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/fist.json filter=lfs diff=lfs merge=lfs -text
HaGRID/val/stop.json filter=lfs diff=lfs merge=lfs -text
